@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    background-image: url(../Project-Images/agric-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: brightness(50%) blur(2em);
    background-size: cover;
    width: 100em;
    max-width: 100%;
    height: 80em;
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
  }
header {
    width : 98em;
    height: 5em;
    /* background-color: rgba(255, 255, 255, 0.1); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em;

}
.images {
    width: 3em;
    border-radius: 70em;
    margin-top: -1em;
    
}
.profile {
    margin-top: -0.5em;
    color: white;
    font-size: 1.3Sem;
}
nav {
    display: flex;
    gap: 1em;  
    margin-left: -55em;
}
nav a {
    text-decoration: none;
    font-size: 1em;
    color: green;
}
 button[type="reset"] {
    background: none;
    border-radius: 0.7em;
    font-size: 0.8em;
    padding: 0.4em;
    margin-top: -1em;
    font-weight: bold;
    background-color:rgb(207, 112, 4) ;
    border: 2px solid rgb(207, 112, 4);
    color: white;
}
 button[type="menu"] {
    background: none;
    border-radius: 0.7em;
    font-size: 0.8em;
    padding: 0.4em;
    margin-top: -1em;
    font-weight: bold;
    background-color: white;
    border: 2px solid white;
    color: green;
}

section {
    margin: auto;
    width: 98em;
    margin-left: 20em;
    margin-top: 5em;
    
}
select[id="level"] {
    width: 15em;
    border: 1px solid white;
    border-radius: 0.2em;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0.2em;

}
select[id="semester"] {
    width: 15em;
    border: 1px solid white;
    border-radius: 0.2em;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0.2em;
    margin-left: 3em;
}
input[type="search"] {
    width: 35em;
    border: 1px solid white;
    border-radius: 0.2em;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0.3em;
    margin-left: 3em; 
    font-weight: bold;
    color: black;
    background: url(../Project-Images/search-icon.png) no-repeat top left;
    background-size: contain;
    
    
}